.main-img{
    position: fixed; 
    min-width: 100%;
    min-height: 100%;
}
.main-home-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.main-home-text h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
.main-home-text h1{
    font-size: 45px;
}
.main-home-box{
    color: white;
    width: 275px;
    height: 60px;
    position: absolute;
    background-color: #0072BC;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
.main-home-box h3{
    margin-top: 18px;
    text-align: center;
    margin-right: 25px;
}
.icon-right{
    position: absolute;
    margin-top: 2.5px;
    margin-left: 10px;
}