.main-box-search{
    display: flex;
    justify-content: left;
    margin: auto;
    margin-top: 10%;
    width: 35%;
    flex-direction: column;
    background-color: #0072BC;
    border-radius: 20px;
    padding: 40px;
}
.main-box-search  h3{
    color: white;
}
.box-search{
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.box-search input{
    margin-right: 15px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 16px;
}
.search-input{
    padding-left: 20px;
}
.box-search a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.button-search{
    
    width: 100px;
    border-radius: 20px;
    background-color: white;

}
.head-box-search{
    margin-top: 20px;
    text-align: center;
}
