.main-box-search{
    display: flex;
    justify-content: left;
    margin: auto;
    margin-top: 10%;
    width: 35%;
    flex-direction: column;
    background-color: #0072BC;
    border-radius: 20px;
    padding: 40px;
}
.main-box-search  h3{
    color: white;
}
.box-search{
    margin-top: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.box-search input{
    margin-right: 15px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    font-size: 16px;
}
.button-search{
    background-color: #0072BC;
    width: 100px;
    border-radius: 20px;
    color: white;
    border: none;
    font-size: 16px;
}
.head-box-search{
    margin-top: 20px;
    text-align: center;
}
